body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f5f5;
}

nav {
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    position: fixed;
    top:0;
    left:0;
    width: 100px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-align: center;
}

.content{
    margin-left: 180px;
    margin-top: 30px;
    margin-right: 20px;
}

form input{
    font-family: "Raleway", sans-serif;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    width: 450px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    display: block;
}

ul{
    padding-left: 0;
}

.mail{
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 15px;
    box-shadow: 0 1px 5px #ddd;
    border-radius: 5px;
}

.mail-content{
    margin: 5px 0 0 0;
    color: #aaa;
}

.addr_to{
    color: #674dd4;
}

hr{
    border: None;
    height: 1px;
    background-color: #eee;
}